@using StoreOnline.Models
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="banner-top">
    <div class="container">
        <h3>XÁC NHẬN ĐƠN HÀNG</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Xác nhận thanh toán</h4>
        <div class="clearfix"> </div>
    </div>
</div>
</br>
</br>

<div class="modal-dialog" role="document">
    <h1 style="text-align:center; color:red">CẢM ƠN QUÝ KHÁCH ĐÃ ĐẶT HÀNG</h1>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span> Thanh Toan Online</h4>
        </div>
        <div class="modal-body">
            <h1 style="text-align:center; color:red">
                Bạn có muốn thanh toán Online??? NẾU KHÔNG HÃY NHẤN TRỞ VỀ 
                <a href="@Url.Action("Index", "Shoponline")">TRANG CHỦ</a>
                </br>
                </br>
                <a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=dzu2801@gmail.com&product_name=@Model.MAHD&price=@Model.THANHTIEN&return_url=@Url.Action("Index", "Shoponline")&comments=(Ghi chú về đơn hàng)">
                    <img src="https://www.nganluong.vn/css/newhome/img/button/pay-sm.png" border="0" />
                </a>
            </h1>
        </div>
    </div>
</div>

