
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="banner-top">
    <div class="container">
        <h3>XÁC NHẬN ĐƠN HÀNG</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Xác nhận thanh toán</h4>
        <div class="clearfix"> </div>
    </div>
</div>
</br>
</br>
<div class="content-top ">
    <div class="container ">

        <h1 style="text-align:center; color:red">XIN CẢM ƠN QUÝ KHÁCH</h1>
        
        <p class="modal-footer">
            @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Shoponline")
        </p>
        </div>
    </div>
