
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header-w3l">
    <h1> Trang Đăng Nhập Admin</h1>
</div>
<!--//header-->
<!--main-->
<div class="main-content-agile">
    <div class="sub-main-w3">
        <form action="#" method="post">
            <input placeholder="Username or E-mail" name="Name" class="user" type="text" required=""><br>
            <input placeholder="Password" name="Password" class="pass" type="password" required=""><br>
            <input type="submit" value="">
        </form>
    </div>
</div>