
@{
    ViewBag.Title = "Lichsudathang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="banner-top">
    <div class="container">
        <h3>Lịch Sử Đặt Hàng</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Lịch Sử Đặt Hàng</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!--login-->
