
@{
    ViewBag.Title = "Giaohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>GIAO HÀNG</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Thông Tin Giỏ Hàng</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- faqs -->
<div class="faq-w3 ">
    <div class="container">
        <div class="spec ">
            <h3>LƯU Ý GIAO HÀNG</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <!-- First Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                        <span>1.</span> Các chi phí giao hàng khi cần?
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Khi các anh/chị đến mua trục tiếp tại cửa hàng thì không cần bận tâm về vấn đề này</p>
                        <p>Các anh/chị ở xa có nhu cầu ship có thể thông qua ship code và ship chuyển phát, chi phí ship anh chị sẽ chi trả</p>
                    </div>
                </div>
            </div>

            <!-- Second Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                        <span>2.</span> Bao lâu thì đơn đặt hàng sẽ đến?
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Khi vẫn chuyển hàng nếu không có sự cố nào thì hàng của anh chị sẽ được giao từ 1-3 ngày</p>
                        <p>Lưu ý nếu anh/chị cần hàng gấp có thể liên hệ với cửa hàng để lựa chọn hình thức ship hàng nhanh nhất</p>
                        
                    </div>
                </div>
            </div>

            <!-- Third Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
                        <span>4.</span> Bạn muốn Ship hàng/thanh toán quốc tế?
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Hiện tại cửa hàng có hỗ trợ thanh toán Quốc Tế qua các dịch vụ trung gian của Paypal</p>
                        <p>Tính giá cước phụ thuộc vào hình thức ship hàng, nếu đặt hàng số lượng lớn hoặc làm ăn lâu dài thì cửa hàng sẽ trợ</p>
                    </div>
                </div>
            </div>
            <!-- 4 Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive">
                        <span>5.</span>Khuyến mãi hoặc FREE SHIP?
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Vào các dịp lễ hay sự kiện, cửa hàng có các combo sản phẩm, nhầm đáp ứng kịp thời</p>
                        <p>Có phục vụ đặt hàng làm quà với hình thức trang trọng, bắt mắt</p>
                        <p>Khi mua số lượng lớn và liên tục cửa hàng sẽ có dịch vụ hỗ trợ hoặc free ship</p>
                    </div>
                </div>
            </div>
            <!-- 5 Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix">
                        <span>6.</span>Tại sao lại chưa nhận được sản phẩm của mình?
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Trong việc vận chuyển có thể gặp sự cố, nếu thời gian giao hàng vượt quá 3 ngày xin vui lòng liên hệ với cửa hàng để hỏi đáp và giải đáp thắc mắc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Terms of use -->
