
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="manufacture" style="display: block;">
    <button type="button" class="closefilter"><i class="icontgdd-closefilter"></i></button>
    <label class="all check"><i class="icontgdd-checkbox"></i>T?t c? h?ng</label>
    <aside>
        <label data-id="80">
            <a href="/dtdd-apple-iphone">
                <i class="icontgdd-checkbox"></i>
                iPhone (Apple)
            </a>
        </label>
        <label data-id="2">
            <a href="/dtdd-samsung">
                <i class="icontgdd-checkbox"></i>
                Samsung
            </a>
        </label>
        <label data-id="1971">
            <a href="/dtdd-oppo">
                <i class="icontgdd-checkbox"></i>
                OPPO
            </a>
        </label>
        <label data-id="3">
            <a href="/dtdd-sony">
                <i class="icontgdd-checkbox"></i>
                Sony
            </a>
        </label>
        <label data-id="1">
            <a href="/dtdd-nokia">
                <i class="icontgdd-checkbox"></i>
                Nokia
            </a>
        </label>
        <label data-id="2236">
            <a href="/dtdd-vivo">
                <i class="icontgdd-checkbox"></i>
                Vivo
            </a>
        </label>
        <label data-id="104">
            <a href="/dtdd-huawei">
                <i class="icontgdd-checkbox"></i>
                Huawei
            </a>
        </label>
        <label data-id="2235">
            <a href="/dtdd-xiaomi">
                <i class="icontgdd-checkbox"></i>
                Xiaomi
            </a>
        </label>
    </aside>
    <aside>
        <label data-id="4">
            <a href="/dtdd-motorola">
                <i class="icontgdd-checkbox"></i>
                Motorola
            </a>
        </label>
        <label data-id="111">
            <a href="/dtdd-asus-zenfone">
                <i class="icontgdd-checkbox"></i>
                Asus (Zenfone)
            </a>
        </label>
        <label data-id="14">
            <a href="/dtdd-htc">
                <i class="icontgdd-checkbox"></i>
                HTC
            </a>
        </label>
        <label data-id="110">
            <a href="/dtdd-mobiistar">
                <i class="icontgdd-checkbox"></i>
                Mobiistar
            </a>
        </label>
        <label data-id="19">
            <a href="/dtdd-mobell">
                <i class="icontgdd-checkbox"></i>
                Mobell
            </a>
        </label>
        <label data-id="27">
            <a href="/dtdd-philips">
                <i class="icontgdd-checkbox"></i>
                Philips
            </a>
        </label>
        <label data-id="5332">
            <a href="/dtdd-itel">
                <i class="icontgdd-checkbox"></i>
                Itel
            </a>
        </label>
        <label data-id="2259">
            <a href="/dtdd-bkav">
                <i class="icontgdd-checkbox"></i>
                BKAV
            </a>
        </label>
    </aside>
    <p class="doit"></p>
    <p class="cslder">
        <span class="cswrap">
            <span class="csdot"></span>
            <span class="csdot"></span>
            <span class="csdot"></span>
        </span>
    </p>
</div>
